<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list"></ion-back-button>
    </ion-buttons>
    <ion-title>add Surah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-top">
    <div [formGroup]="signupForm">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>

        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>

        <ion-label position="floating">student id</ion-label>
        <ion-textarea formControlName="student_id"></ion-textarea>
      </ion-item>

      <ion-grid class="ion-padding-top">
        <ion-row class="ion-justify-content-center">

          <ion-button (click)="save(signupForm)" shape="round" [disabled]="!signupForm.valid">Save</ion-button>
        </ion-row>
      </ion-grid>

    </div>
  </ion-grid>
</ion-content>
