<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" (click)="deleteStudent()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
<!--    <img src="/assets/quran-majeed.jpg" alt="" />-->
    <ion-card-header>
        <ion-card-title>{{singleProperty?.owner}}</ion-card-title>
        <ion-card-subtitle>{{singleProperty?.area}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p> Mr. {{singleProperty?.owner}} wants to sale his property of {{singleProperty?.area}} in {{singleProperty?.price}}.</p>
      <p>Location of property is {{singleProperty?.location}} and {{singleProperty?.description}}</p>
        <ion-icon slot="end" name="ios-call" (click)="contactDealer(singleProperty?.contact)"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
