<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/quran.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Property Application</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This application lists properties for rental/sale, presents its features/amenities, contact information and details related to them. Categorizes listings into property types and includes various search filters enabling the easier finding of the property which the user is interested in.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://test-node-api-test.herokuapp.com/properties/getProperty">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>API GET method</ion-label>
      </ion-item>
      <ion-item href="https://test-node-api-test.herokuapp.com/properties/5e00871c5474f72de483db99">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>GET by ID</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
